<div class="container">
  <div class="card col-6" style="position: absolute; left: 25%; top: 25%">
    <h4 class="card-header">Signup</h4>
    <div class="card-body">
      <form
        name="form"
        #f="ngForm"
        *ngIf="!isSuccessful"
        (ngSubmit)="f.form.valid && onSubmit()"
      >
        <div class="form-group">
          <label for="name">Your name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter your name"
            required
            [(ngModel)]="signUpForm.name"
            name="name"
          />
        </div>
        <br />

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter your email"
            required
            [(ngModel)]="signUpForm.email"
            name="email"
          />
        </div>
        <br />

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter your password"
            required
            [(ngModel)]="signUpForm.password"
            name="password"
          />
        </div>
        <br />

        <div class="form-group">
          <label for="contactNumber">Contact Number</label>
          <input
            type="text"
            class="form-control"
            id="contactNumber"
            placeholder="Enter your contact number"
            required
            [(ngModel)]="signUpForm.contactNumber"
            name="contactNumber"
          />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
</div>
