<div class="container">
    <div class="card col-6" style="position: absolute; left: 25%; top: 25%">
      <h4 class="card-header">Change Password</h4>
      <div class="card-body">
        <form
          #changePasswordForm="ngForm"
          *ngIf="!isSuccessful"
          (ngSubmit)="changePasswordForm.form.valid && onSubmit()"
        >
          <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input
              type="password"
              class="form-control"
              id="currentPassword"
              placeholder="Enter current password"
              ngModel
              name="currentPassword"
            />
          </div>
          <br />
  
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              placeholder="Enter new password"
              ngModel
              name="newPassword"
            />
          </div>
          <br />

          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              placeholder="Enter confirm password"
              ngModel
              name="confirmPassword"
            />
          </div>
          <br />

          <button
            type="submit"
            class="btn btn-primary"
          >
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
  